<div class="grid gap-x-10 md:grid-cols-14 ml-56 p-6 max-h-screen overflow-y-auto">
  {{> _sidePanel }}

  <!---------------CENTER CONTENT--------------------------->
  <div class="md:col-span-9 ml-10">
    <!-- Date at the top right corner -->
    <div id="dashboard" class="flex justify-end items-center mb-6">
      <div id="dateFied" class="text-xl text-secondary-800">
      </div>
    </div>
      <!-- Main Content -->
    <div class="col-span-10 p-6">
      <div class="bg-white p-6 rounded shadow">
        <h1 id="welcome-tag" class="text-3xl font-bold mb-4"></h1>
        <p id="tagline" class="text-gray-600"></p>
      </div>
    </div>
  </div>
</div>