<!-- component -->
<div
  class="flex flex-col-reverse items-center justify-center gap-16 px-4 py-24 md:gap-28 md:px-44 md:py-20 lg:flex-row lg:px-24 lg:py-24"
>
  <div class="relative w-full pb-12 lg:pb-0 xl:w-1/2 xl:pt-24">
    <div class="relative">
      <div class="absolute">
        <div class="">
          <h1 class="my-2 text-2xl font-bold text-primary">
            Looks like you’ve discovered the doorway to the treasure room.
          </h1>
          <p class="my-2 text-primary">But you need the right key to enter! If
            you’ve lost your access, please speak to an Operations staff member.
            Otherwise, head back to our homepage to find your way.</p>
          <div
            class="md my-2 w-32 rounded border bg-secondary-800 px-4 py-4 text-center text-white hover:bg-secondary-600 focus:outline-none focus:ring-2 focus:ring-secondary-600 focus:ring-opacity-50"
          >
            <a href="/">HOME</a>
          </div>
        </div>
      </div>
      <div>
        <img src="/img/403.webp" />
      </div>
    </div>
  </div>
  <div>
    <img src="/img/403_image.webp" />
  </div>
</div>